.rixo-todo-list {
  text-align: center;
  ol.list {
    list-style-type: none;
    padding: 0;
  }
  .list {
    max-width: 320px;
    margin: auto;
    color: #666;
    .item {
      display: block;
      box-shadow: 0 1px 3px 1px #aaa;
      background-color: lightyellow;
      h3 {
        padding: .3em;
      }
    }
  }
}
